<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header>
        <h1>About Us</h1>
    </header>

    <section>
        <h2>Welcome to our Course Registration Platform!</h2>
        <img src="https://tse3.mm.bing.net/th?id=OIP.YFgS0tTNHsPwIqJyUZbyWwHaC2&pid=Api&P=0&h=180">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac mauris ac justo fringilla dapibus.
            Nulla facilisi. Integer congue suscipit lacus, nec cursus mauris condimentum ac. Quisque feugiat
            sollicitudin velit, sit amet ullamcorper elit sagittis id.
        </p>
    </section>

</body>
</html>
